<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Тестовое задание Azalianow</title>

        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/stylesheet.css">
    </head>

    <body>
        <main>
            <h1>Доска сообщений</h1>

            <div class="messages"> 
                {{successHint}}

                <div class="messagesList">
                    {{messages}}
                </div>
            </div>

            <form class="form" method="post" action="/messages">
                <h2>Добавить сообщение</h2>

                <div class="formContent">
                    <div class="formField">
                        <label class="formField__label">Текст сообщения</label>
                        <textarea class="formField__control textarea fluid" name="text" placeholder="Введите ваше сообщение" required></textarea>
                    </div>

                    <div class="formField">
                        <label class="formField__label">Автор</label>
                        <input class="formField__control input fluid" type="text" name="author" placeholder="Ваше имя" required>
                    </div>
                </div>

                <div class="formFooter">
                    <button class="button button_primary fluid" type="submit">Отправить</button>
                    <a class="button fluid" href="/">Назад</a>
                </div>
            </form>
        </main>

        <script type="text/javascript" src="/assets/scripts/messages.js"></script>
    </body>
</html>

